<footer class="site-footer">
  <div class="row">
    <div class="medium-6 columns">
      <p>&copy; 2008&ndash;<%= Time.now.year %> Twincrest Technologies, Inc. All rights reserved.</p>
    </div>
    <div class="medium-6 columns text-right">
      <ul class="site-footer-links">
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <li>
          <%= link_to "/auth/google_oauth2" do %>
            <%= content_tag :span, nil, class: "fa fa-sign-in", title: "Sign in with Google Apps" %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
