<%= form_for @manufacturer do |f| %>
  <%= content_tag :div, class: "alert-box alert radius" do %>
    <h4><%= pluralize @manufacturer.errors.count, "error" %> kept this form from submitting:</h4>
    <ul>
      <% @manufacturer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end if @manufacturer.errors.any? %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description, rows: 4 %>
  <%= f.label :web_url %>
  <%= f.url_field :web_url, placeholder: "http://www.twincresttech.com" %>
  <%= f.label :support_url %>
  <%= f.url_field :support_url, placeholder: "http://www.twincresttech.com/support" %>
  <%= f.label :logo do %>
    Logo
    <%= content_tag :span, data: { tooltip: true }, aria: { haspopup: true }, class: "has-tip tip-right radius", title: "When choosing an image to upload, make sure it is at least 450 pixels high or wide for best resluts. Also, SVG images are preferred, followed by PNG images." do %>
      <%= content_tag :span, nil, class: "fa fa-question-circle" %>
    <% end %>
  <% end %>
  <%= f.attachment_field :logo %>
  <%= f.submit class: "button expand radius" %>
<% end %>
