<%= labeled_form_for @manufacturer, html: {multipart: true} do |f| %>
  <%= f.error_messages %>

	<%= f.text_field :name %>
	<p>When choosing an image to upload, make sure it is at least 400 pixels high or wide for best resluts.</p>
	<%= f.file_field :image %>
	<%= f.text_area :description %>
	<%= f.text_field :web_site, placeholder: "http://example.com" %>
	<%= f.text_field :support_site, placeholder: "http://example.com" %>
	
	<%= f.submit %>
<% end %>
