<% title @manufacturer.name %>
<%= simple_format @manufacturer.description %>

<ul>
	<li><%= link_to 'Web Site', @manufacturer.web_site, target: :blank %></li>
	<li><%= link_to 'Support Site', @manufacturer.support_site, target: :blank %></li>
</ul>

<% if current_user %>
<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', root_path %>
<% end %>